<div class="logo">

    <h1>{{content.html.title}}</h1>

    <svg width="153px" height="426px" viewBox="0 0 153 426" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="BAMBOO11_logo_whiteshell_with_CONTENT-AGENCY" fill="#FFFFFF" fill-rule="nonzero">
                <path d="M0,115.5 C0,134.2 15.6,142.6 31.1,142.6 L82.1,142.6 C97.7,142.6 113.4,134.2 113.4,115.5 C113.4,96.8 97.7,88.4 82.1,88.4 L31.1,88.4 C15.6,88.4 0,96.8 0,115.5 Z M107.5,115.5 C107.5,130.2 94.8,136.8 82.1,136.8 L31.1,136.8 C18.5,136.8 5.9,130.2 5.9,115.5 C5.9,100.8 18.6,94.2 31.1,94.2 L82.1,94.2 C94.7,94.2 107.5,100.8 107.5,115.5 Z"></path>
                <path d="M52.8,167.6 C49.8,162.3 44.6,159.1 38.5,159.1 L23.3,159.1 C9.3,159.1 2.2,166.4 2.2,180.8 L2.2,204 L111.1,204 L111.1,180.4 C111.1,164.6 102.9,155.9 87.9,155.9 L70.2,155.9 C59.5,155.8 55,161.4 52.8,167.6 Z M8,198.2 L8,180.8 C8,169.6 12.6,164.9 23.3,164.9 L38.5,164.9 C47.5,164.9 50.6,173.4 50.6,181.3 L50.6,198.3 L8,198.3 L8,198.2 Z M88,161.8 C99.8,161.8 105.3,167.7 105.3,180.3 L105.3,198.4 C104.5,198.3 56.5,198.3 56.5,198.3 L56.5,181 C56.5,167.3 60.5,161.8 70.3,161.8 L88,161.8 Z"></path>
                <path d="M0,88 C0,106.7 15.6,115.1 31.1,115.1 L82.1,115.1 C97.7,115.1 113.4,106.7 113.4,88 C113.4,69.3 97.7,60.9 82.1,60.9 L31.1,60.9 C15.6,60.9 0,69.2 0,88 Z M107.5,88 C107.5,102.7 94.8,109.3 82.1,109.3 L31.1,109.3 C18.5,109.3 5.9,102.7 5.9,88 C5.9,73.3 18.6,66.7 31.1,66.7 L82.1,66.7 C94.7,66.6 107.5,73.2 107.5,88 Z" id="Shape"></path>
                <polygon points="2.3 34.7 2.3 52.6 7.7 52.6 8 40.4 111.1 40.4 111.1 34.7"></polygon>
                <polygon points="2.3 0.1 2.3 18.1 7.7 18.1 8 5.9 111.1 5.9 111.1 0.1"></polygon>
                <path d="M53.5,388.9 C50.5,383.6 45.3,380.4 39.2,380.4 L24,380.4 C10,380.4 2.9,387.7 2.9,402.1 L2.9,425.3 L111.8,425.3 L111.8,401.7 C111.8,385.9 103.6,377.2 88.6,377.2 L70.9,377.2 C60.1,377.1 55.6,382.6 53.5,388.9 Z M8.7,419.5 L8.7,402.1 C8.7,390.9 13.3,386.2 24,386.2 L39.2,386.2 C48.2,386.2 51.3,394.7 51.3,402.6 L51.3,419.6 L8.7,419.6 L8.7,419.5 Z M88.6,383 C100.4,383 105.9,388.9 105.9,401.5 L105.9,419.6 C105.1,419.5 57.1,419.5 57.1,419.5 L57.1,402.2 C57.1,388.5 61.1,383 70.9,383 L88.6,383 Z"></path>
                <path d="M2.8,223 C2.8,225.4 3.8,226.8 6.2,227.8 L93.6,253.7 L5.9,281.6 C5,282 2.8,282.8 2.8,285.6 L2.8,287.9 L111.8,287.9 L111.8,282.1 L22.8,282.1 L104.7,255.9 L104.7,251.3 L23.3,227.1 L111.8,227.1 L111.8,221.3 L2.8,221.3 L2.8,223 Z" id="Shape"></path>
                <path d="M1.6,329.7 L1.6,334.8 L111.8,363.9 L111.8,358 L80.4,349.6 L80.4,315.3 L111.8,307.2 L111.8,301.1 L1.6,329.7 Z M74.6,348.2 L14.2,332.3 L74.6,316.8 L74.6,348.2 Z" id="Shape"></path>
                <path id="content" d="M152,11.7 L152,7.6 L140.6,7.6 L121.6,0 L121.6,4.2 L136.7,9.7 L121.6,15.2 L121.6,19.4 L140.6,11.8 L152,11.8 L152,11.7 Z M141.6,24.6 C145.1,24.8 148.8,26 148.8,30.2 C148.8,34.1 145.3,37 137.1,37 C129.3,37 125,34.7 125,30.2 C125,26.3 128.3,24.7 132.7,24.6 L132.7,20.5 C126.6,20.5 121.1,23.8 121.1,30.5 C121.1,37.3 126.9,41.2 136.8,41.2 C147.2,41.2 152.5,37.1 152.5,30.5 C152.5,23.9 147.2,20.5 141.5,20.5 L141.5,24.6 L141.6,24.6 Z M121.7,60 L121.7,64.5 L152,64.5 L152,60.9 L128.1,60.9 L152,49.6 L152,45.5 L121.7,45.5 L121.7,49.1 L144.7,49.1 L121.7,60 Z M152,84.2 L152,69.8 L148.3,69.8 L148.3,80.1 L138.3,80.1 L138.3,69.8 L134.6,69.8 L134.6,80.1 L125.5,80.1 L125.5,69.8 L121.8,69.8 L121.8,84.2 L152,84.2 Z M132,89.1 C125.9,89.4 121.2,92.9 121.2,99.3 C121.2,106.5 127.5,110.7 136.9,110.7 C146.2,110.7 152.6,107.1 152.6,99.3 C152.6,92.1 146.7,89 141.1,88.8 L136.2,88.8 L136.2,100.4 L139.9,100.4 L139.9,92.9 C142,92.9 144,93.1 145.8,94.1 C147.9,95.2 148.8,97 148.8,99.2 C148.8,103.5 145.3,106.5 136.8,106.5 C128.7,106.5 124.8,103.7 124.8,99.2 C124.8,96.7 126,95.2 127.7,94.3 C128.9,93.6 130.5,93.2 131.9,93.2 L131.9,89.1 L132,89.1 Z M140.4,118.5 L140.4,124.8 L127.3,121.6 L140.4,118.5 Z M144.1,125.8 L144.1,117.4 L152.1,115.1 L152.1,111 L121.8,119.7 L121.8,123.6 L152.1,132.1 L152.1,128 L144.1,125.8 Z M152,151.2 L152,147.1 L125.4,147.1 L125.4,141.3 L121.7,141.3 L121.7,157 L125.4,157 L125.4,151.2 L152,151.2 Z M121.7,175.2 L121.7,179.7 L152,179.7 L152,176.1 L128.1,176.1 L152,164.8 L152,160.7 L121.7,160.7 L121.7,164.3 L144.7,164.3 L121.7,175.2 Z M152,199.4 L152,185 L148.3,185 L148.3,195.3 L138.3,195.3 L138.3,185 L134.6,185 L134.6,195.3 L125.5,195.3 L125.5,185 L121.8,185 L121.8,199.4 L152,199.4 Z M152,213 L152,208.9 L125.4,208.9 L125.4,203.1 L121.7,203.1 L121.7,218.8 L125.4,218.8 L125.4,213 L152,213 Z M121.7,236.9 L121.7,241.4 L152,241.4 L152,237.8 L128.1,237.8 L152,226.5 L152,222.4 L121.7,222.4 L121.7,226 L144.7,226 L121.7,236.9 Z M136.9,263.7 C128.9,263.7 124.9,261.1 124.9,256.8 C124.9,252.5 128.9,249.9 136.9,249.9 C144.9,249.9 148.9,252.4 148.9,256.8 C148.9,261.1 144.9,263.7 136.9,263.7 Z M136.9,267.9 C146,267.9 152.6,264.2 152.6,256.8 C152.6,249 145.2,245.7 136.9,245.7 C127.8,245.7 121.2,249.4 121.2,256.8 C121.1,264.1 127.8,267.9 136.9,267.9 Z M141.6,274.8 C145.1,275 148.8,276.2 148.8,280.4 C148.8,284.3 145.3,287.2 137.1,287.2 C129.3,287.2 125,284.9 125,280.4 C125,276.5 128.3,274.9 132.7,274.8 L132.7,270.7 C126.6,270.7 121.1,274 121.1,280.7 C121.1,287.5 126.9,291.4 136.8,291.4 C147.2,291.4 152.5,287.3 152.5,280.7 C152.5,274.1 147.2,270.7 141.5,270.7 L141.5,274.8 L141.6,274.8 Z"></path>
            </g>
        </g>
    </svg>

</div>

<nav>

    <ul>

        {{#each content.navigation as |item|}}

            <li {{action 'navigate' item}} active={{item.active}}>
                <span>{{item.title}}</span>
                <span></span>
            </li>

        {{/each}}

    </ul>

</nav>
