.bm-header {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    width: 100%;

    @include mobile {
        padding-left: 1.5em;
        padding-right: 1.5em;
	}

    .logo {

        display: inline-block;
        float: left;

        h1 {
            display: none;
        }

        img {
            float: left;

            @include mobile {
                width: 2em;
                height: auto;
        	}

        }

    }


    nav {

        float: right;

        ul {

            li {

                text-transform: uppercase;
                float: left;
                padding-left: 1em;
                padding-right: 1em;
                padding-top: 1em;
                padding-bottom: 1em;

                @include mobile {
                    padding: 0.5em;
            	}

                span {
                    display: inline-block;
                    float: left;
                    clear: both;
                }

                span:first-child {
                    line-height: 1;
                }

                span:last-child {
                    width: 0px;
                    height: 1px;
                    margin-top: 4px;
                    background: white;
                }

            }

            li[active] {

                span:last-child {

                    width: 100%;

                }

            }

        }

    }

}
