.bm-header {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    width: 100%;

    @include mobile {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
	}

    .logo {

        display: inline-block;
        float: left;

        h1 {
            display: none;
        }

        img {
            float: left;

            @include mobile {
                width: 1.5rem;
                height: auto;
        	}

        }

    }


    nav {

        float: right;
        margin-left: -1em;
        margin-right: -1em;

        @include mobile {
            margin-left: -0.5em;
            margin-right: -0.5em;
        }

        ul {

            li {

                text-transform: uppercase;
                float: left;
                padding-left: 1em;
                padding-right: 1em;
                padding-top: 1em;
                padding-bottom: 1em;
                margin-top: -1em;
                letter-spacing: 3px;

                @include mobile {
                    padding: 0.4rem;
                    margin-top: -0.4rem;
                    letter-spacing: 2px;
                    font-size: 0.875em;
            	}

                span {
                    display: inline-block;
                    float: left;
                    clear: both;
                }

                span:first-child {
                    line-height: 1;
                }

                span:last-child {
                    width: 0px;
                    height: 1px;
                    margin-top: 4px;
                    background: white;
                }

            }

            li[active] {

                span:last-child {

                    width: 100%;

                }

            }

        }

    }

}
