.bm-slide {

    color: white;
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;

    .background {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            float: right;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .container {

        display: flex;
        position: relative;
        float: left;
        width: 100%;
        min-height: 100vh;
        padding: 8em;
        justify-content: flex-start;
        align-content: flex-start;

        @include tablet {
            padding-top: 4rem;
            padding-bottom: 4rem;
            padding-left: 3rem;
            padding-right: 3rem;
		}

        @include mobile {
            padding-top: 3rem;
            padding-bottom: 3rem;
			padding-left: 3.5rem;
            padding-right: 3.5rem;
		}

        .content {

            align-self: center;

            h2 {

            }

            p {
                @include mobile {
                    font-size: 0.875rem;
                }
            }

            h2 + p {
                margin-top: 1em;
            }

            button {

                margin-top: 1em;
                border: 2px solid white;
                background: none;
                padding-top: 2px;
                border-radius: 4rem;
                padding-left: 2em;
                padding-right: 2em;
                line-height: 3rem;
                text-transform: uppercase;
                letter-spacing: 3px;

                @include mobile {
                    line-height: 2rem;
                    font-size: 0.875rem;
            	}

            }

            button:hover {
                color: black;
                background: white;
            }

        }

    }

}
