<div class="background">
    <img src="{{content.endpoint}}images/box-desktop.jpg">
</div>

<div class="container">

    <div class="content">

        <h2>{{{model.title}}}</h2>
        <div class="bar"><img src="assets/images/bar.svg"></div>
        <p>{{{model.description}}}</p>

    </div>

</div>
