<div class="background">
    <img src="{{content.endpoint}}images/content-desktop.jpg">
</div>

<div class="container">

    <div class="content">

        <h2>{{{model.title}}}</h2>
        <p>{{{model.description}}}</p>

    </div>

</div>
