<div class="background">
    <img src={{model.background}}>
</div>

<div class="container">

    <div class="content">

        <h2>{{{model.title}}}</h2>
        <button>{{model.button}}</button>

    </div>

</div>
