.ct-contact {

    .content {

        .list {

            float: left;
            margin-top: 2em;
            width: 100%;

            .item {
                float: left;
                width: 100%;
            }

            .item + .item {

                margin-top: 1.5rem;

            }

        }

    }

}
