.bt-grow {

    .background {

        img {

            object-position: right bottom;

        }

    }

    .container {

        .content {

            .bar {
                float: left;
                clear: both;
            }

            button {
                float: left;
                clear: both;
                margin-top: 0.5em;
            }

        }

    }

}
